body {
  margin: 1em 5em;
  text-align: justify;
}

/* hanging */
header, footer {
  margin: 0em -3em;
}

h1, h2, h3 {
  font-family: 'URW Gothic L', 'Avant Garde', sans-serif;
  font-weight: normal;
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.4em; }

h2.date {
  font-size: 1.1em;
  color: #666f63;

  margin-top:   -1em;
  margin-bottom: 1.5em;
}

h1.title {
  font-size: 2em;
  margin-bottom: 0.1em;
}
h2.desc {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: normal;
  color: #666f63;

  margin-top: 0px;
  margin-bottom: 3em;
}

p#ref-0 {
  margin-top: 2em;
}
p.ref {
  font-size: 0.9em;
}

#gnuinside {
  position: absolute;
  display:  block;

  top:    0px;
  right:  0px;
  width:  50px;
  height: 50px;
}

footer {
  font-size: 0.9em;
  margin-top: 2em;
}

footer .commit-id {
  font-family: monospace;
}

.bimgs {
  float: right;
  margin-left: 1em;
}

.bimgs img {
  margin-left: 0.1em;
}
.bimgs img:first-child {
  margin-left: 0em;
}
